
.content-nosso-time {
    display: flex;
    justify-content: space-around;
    overflow: hidden;

}

.speaker-card {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    /* Transicao para o efeito de zoom */
    transition: ease-out 0.3s;
    display: flex;
    /* Garantir que a foto nao vai escapar do card */
    overflow: hidden;
    max-width: 250px;
    min-width: 150px;

}


.speaker-card:hover {
    /* Aumenta o tamanho em 10% */
    transform: scale(1.1);
    cursor: pointer;
}

.speaker-card h3 {
    color: rgb(0, 0, 0);
    display: flex;
    text-align: left;
    flex-direction: column;
    font-size: 70%;
    font-family: Arial, Helvetica, sans-serif;
    

}

.speaker-card p {
    color: rgb(0, 0, 0);
    display: flex;
    text-align: left;
    flex-direction: column;
    font-size: 40%;
    font-family: Arial, Helvetica, sans-serif;
    
}

figure {
    
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 15%;
    
}

.speaker-card img {
    width: 100%;
    border-radius: 10px;
    padding-bottom: 50px;
    display: block;

}

