.speaker-card{
    max-width: 250px;
    border: 2px solid #ddd;
    border-radius: 50px;

    align-items: center;
    padding: 0,0, 40px, 40px;
    justify-content: space-between;
    font-size: 40px;
    background-color: #ffffff;
    color: black;

}



.speaker-card:hover{

}

.speaker-card img{
    transform: scale(1.2);
    cursor: pointer;
}

.speaker-card figcaption {
    
}

.speaker-card h3{

}
.speaker-card p{

}