/*Importar arquivos de estilos*/

@import url(./header.css);
@import url(./footer.css);
@import url(./cards.css);

/*Efeito suave de transição entrea as páginas*/
html{
    scroll-behavior: smooth;
}

.content-nosso-time, .content-cursos, .content-faq, .content-contato{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #fff;


}

.content-nosso-time{
    background: linear-gradient(to right, rgb(133, 0, 0), rgb(0, 0, 0));
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;

    
}

.content-cursos{
    background: linear-gradient(to right, rgb(0, 138, 218), rgba(0, 0, 0, 0.664));
    border-radius: 0 0 40px 40px;
    
    
}
.content-faq{
    background-color: rgb(24, 22, 32);

}
.content-contato{
    background-color: rgb(4, 0, 255);

}

.content-cursos{

}



