/*Importar arquivos de estilos*/

@import url(./header.css);
@import url(./footer.css);
@import url(./cards.css);

.content-nosso-time{

}
.content-cursos{

}
.content-faq{

}
.content-contato{
    
}






.main-content {
    width: 100%;
    height: 200vh;
    background-color: rgb(0, 0, 0);
}

.whatsapp-button{
    width: 100%;
    height: 100vh;
    background-color: rgb(114, 114, 114);
    background: linear-gradient(to right, rgba(0, 47, 255, 0.39), rgba(0, 0, 0, 0.904));
}

