*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Decoração lonks */
    text-decoration: none;
    /* remover bullet das listas */
    list-style: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;   
}

